<div class="card my-5">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <form (ngSubmit)="onSubmit()" #addressForm="ngForm">
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" [(ngModel)]="address.street" 
        class="form-control" 
        id="street" 
        name="street" 
        placeholder="Enter your street"
        maxlength="20" 
        required #street="ngModel">
      </div>
      <div [hidden]="!street.invalid" class="alert alert-danger">Street is required</div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" [(ngModel)]="address.city" 
        class="form-control" 
        id="city" 
        name="city" 
        placeholder="Enter your city"
        maxlength="20" 
        required #city="ngModel">
      </div>
      <div [hidden]="!city.invalid" class="alert alert-danger">City is required</div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" [(ngModel)]="address.state" 
        class="form-control" 
        id="state" 
        name="state" 
        placeholder="Enter your state"
        maxlength="20" 
        required #state="ngModel">
      </div>
      <div [hidden]="!state.invalid" class="alert alert-danger">State is required</div>
      <div class="form-group">
        <label for="postalcode">Postal Code</label>
        <input type="text" [(ngModel)]="address.postalCode" 
        class="form-control" 
        id="postalcode" 
        name="postalcode" 
        placeholder="Enter your postal code"
        maxlength="20" 
        required #postalCode="ngModel">
      </div>
      <div [hidden]="!postalCode.invalid" class="alert alert-danger">Postal Code is required</div>
      <ul class="text-center list-inline py-3">
        <li class="list-inline-item">
          <button type="submit" [disabled]="!addressForm.form.valid" class="btn btn-info">Submit</button>
        </li>
        <li class="list-inline-item">
          <a (click)="addressForm.resetForm();" class="btn btn-info">Clear</a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/addresses" class="btn btn-info">Cancel</a>
        </li>
      </ul>
    </form>
  </div>
</div>